.rootClassName button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: #926ec5;
	padding: 1rem 2rem;
	border: none;
	cursor: pointer;
	height: 100%;
	color: white;
}

.disabled button {
	background-color: #9ea5ae;
	cursor: not-allowed !important;
}

.hidden {
	display: none !important;
}

.small {
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
}

.medium {
	padding: 1rem 2rem;
	font-size: 1rem;
}

.large {
	padding: 1.5rem 3rem;
	font-size: 1.2rem;
}

button:hover {
	background-color: #7a4fa3;
}
